<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h2>CHAT with <%= @user.name %></h2>

            <table class="message table">
              <thead>
                <tr>
                  <th style="text-align: left; font-size: 20px;"><%= current_user.name %></th>
                  <th style="text-align: right; font-size: 20px;"><%= @user.name %></th>
                </tr>
              </thead>
              <% @chats.each do |chat| %>
                <% if chat.user_id == current_user.id %>
                <tbody>
                  <tr>
                    <th>
                      <p style="text-align: left;"><%= chat.message %></p>
                    </th>
                    <th></th>
                  </tr>
                <% else %>
                  <tr>
                    <th></th>
                    <th>
                      <p style="text-align: right;"><%= chat.message %></p>
                    </th>
                  </tr>
                </tbody>
                <% end %>
              <% end %>
            </table>

            <% if current_user != @user %>
              <%= link_to 'Begin Chat', chat_path(@user.id) %>
            <% end %>

            <%= form_with model: @chat, local: false do |f| %>
              <div class="form-group">
                <%= f.label :message %>
                <%= f.text_field :message %>
              </div>
              <div class="form-group">
                <%= f.hidden_field :room_id %>
              </div>
              <div class="form-group">
                <%= f.submit "SEND", class:"btn btn-sm btn-success chat-btn" %>
              </div>
            <% end %>
        </div>
    </div>
</div>